{
    "samples" : [ "[% cross.samples.all.keys.join('", "') %]" ],
    "paths" : {
        "base_path" : "[% mapping_dir %]" ,
        "annotation" : "[% cross.resources.varfilter.annotation %]" ,
        "candidate_snps" : "[% cross.resources.varfilter.candidateSNPs.list %]" ,
        "reference" : "[% cross.resources.reference %]"  ,
        "uniqueness_scores" : "[% cross.resources.uniquenessScores %]" ,
        "coding_regions" : "[% cross.resources.varfilter.codingRegions %]" ,
        "snp_properties" : "[% cross.resources.varfilter.candidateSNPs.properties %]" ,
        "literature_snps" : "[% cross.resources.varfilter.literatureSNPs %]" ,
        "coverage_cutoffs" : "coverage_cutoffs.json",
        "snpdata_path" : "[% mapping_dir %]" ,
        "coverage_path" : "[% mapping_dir %]" ,
        "out_path" : "vf-out" ,
        "original_vcf" : "unfiltered.vcf"
    } ,
    "sequences" : [ "[% cross.sequences.join('", "') %]" ], 
    "groups" : {
    	"ALL" : {
    	    "samples" : [ "[% cross.samples.all.keys.join('", "') %]" ], 
    	    "hyperhet_cutoff" : 30
    	}
    } ,
    "stages" : [
    	[
	   { "name" : "coding_and_regions" , "cmd" : "./filter_coding_and_regions.pl" , "params" : { "use_coding" : 1 , "use_noncoding" : 0 } } ,
	   { "name" : "coverage" , "cmd" : "./filter_coverage.pl" , "params" : { "range" : 15 } } , 
	   { "name" : "min_alt" , "cmd" : "./filter_min_alt.pl" , "params" : { "p_total" : 1 , "d_single" : 10 } } , 
	   { "name" : "biallelic" , "cmd" : "./filter_biallelic.pl" , "params" : { "min_cov" : 2 } } ,
	   { "name" : "mono_allelic" , "cmd" : "./filter_monoallelic.pl" , "params" : { "min_cov" : 1 } } ,
	   { "name" : "het_uniq" , "cmd" : "./filter_het_uniq.pl" , "params" : { "min_cov" : 1 , "max_uniq" : 26 } } ,
	   { "name" : ".stats_low_missingness" , "cmd" : "./stats_low_missingness.pl" , "params" : { "base" : "${paths.out_path}/low_missingness" , "steps" : "5,10,15,20" } }
	] ,
	[
	   { "name" : "low_missingness" , "cmd" : "./filter_low_missingness.pl" , "params" : { "min_snps" : 83000 , "min_samples" : 220 , "min_cov" : 5 , "json" : "${paths.out_path}/low_missingness.json" } } ,
	   { "name" : ".stats_hyperhet" , "cmd" : "./stats_hyperhet.pl" , "params" : { "group" : "all" , "amin" : 2 , "cmin" : 5 } }
	] , 
	[
   	   { "name" : "hyperhet" , "cmd" : "./filter_hyperhet.pl" } , 
	   { "name" : "mono_allelic" , "cmd" : "./filter_monoallelic.pl" , "params" : { "min_cov" : 1 , "filtername" : "MonoallelicTypable" } } ,
	   { "name" : "lit_snps" , "cmd" : "./filter_literature_snps.pl" } ,
	   { "name" : ".stats_hq_snps" , "cmd" : "./stats_hq_snps.pl" , "params" : { "out" : "${paths.out_path}/hq.snps" } }
	]
    ]
}
