queue --memory 1000 -S /nfs/users/nfs_v/vrr/q.qscript -I /lustre/scratch103/sanger/vrr/nfs/disk69/ftp-team112/pf.bwa/bam/PK0007-C.fixed.bam -I /lustre/scratch103/sanger/vrr/nfs/disk69/ftp-team112/pf.bwa/bam/PK0052-C.fixed.bam -R /lustre/scratch103/sanger/vrr/nfs/team112/PGV_RD/data/reference/3D7_pm.fa --indelsOutput /lustre/scratch103/sanger/vrr/indelout.vcf --regionsOutput /lustre/scratch103/sanger/vrr/regions3.intervals -L /lustre/scratch103/sanger/vrr/nfs/team112/PGV_RD/data/reference/3D7_pm.interval_list -run -bsub -M 1000
queue --memory 1000 -S /nfs/users/nfs_v/vrr/q.qscript -I /lustre/scratch103/sanger/vrr/nfs/disk69/ftp-team112/pf.bwa/bam/PK0007-C.fixed.bam -I /lustre/scratch103/sanger/vrr/nfs/disk69/ftp-team112/pf.bwa/bam/PK0052-C.fixed.bam -R /lustre/scratch103/sanger/vrr/nfs/team112/PGV_RD/data/reference/3D7_pm.fa --indelsOutput /lustre/scratch103/sanger/vrr/indelout.vcf --regionsOutput /lustre/scratch103/sanger/vrr/regions3.intervals -L /lustre/scratch103/sanger/vrr/nfs/team112/PGV_RD/data/reference/3D7_pm.interval_list -run -bsub -M 1000
