
%.samtools-vcf : %.bam
	pgv genotype -g Samtools -i $< -o $@

.PRECIOUS: %.samtools-vcf
[% IF cross.makeCandidateSNPsListFrom %]
$(CANDIDATE_SNPS_LIST) : $(addprefix [% cross.makeCandidateSNPsListFrom %]/, $(addsuffix .samtools-vcf,$(SAMPLE_NAMES)))
	pgv candidate-snps $(addprefix -i ,$^) -o $@

[% ELSE %]
$(CANDIDATE_SNPS_LIST) : 
	echo "You must provide a candidate snps list '$(CANDIDATE_SNPS_LIST)' or indicate mapping to use to generate one"
	exit 1

[% END %]
